<div class="home-hero col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="home-hero-content">
		<h1>#GONOW</h1>
		<%= button_to 'Find Jobs Abroad', jobs_path, class: :"btn btn-default", method: :get %>
	</div>
</div>

<div class="home-checklist col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="home-checklist-content col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h3>Statement 1</h3>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
	<div class="home-checklist-content col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h3>Statement 1</h3>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
	<div class="home-checklist-content col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h3>Statement 1</h3>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
</div>

<div class="home-newsletter col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="home-newsletter-content">
		<%= text_field :title, :size => 40 %>
		<%= label :title, "Job Title" %>
	</div>
</div>

<div class="home-countries col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="home-countries col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="home-countries-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1>Oh, the places you'll go!</h1>
		</div>
		<div class="home-countries-images col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">Korea</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">Japan</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">China</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">Dubai</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">Vietnam</div>
			<div class="home-countries-single col-xs-12 col-sm-12 col-md-6 col-lg-6">Indonesia</div>
		</div>
	</div>
</div>

<div class="home-testimonials col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="home-testimonials-content">
		<h1>Testimonials Go Here</h1>
		<h4>Lorem Ipsum This Shit</h4>
	</div>
</div>