<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<%= form_for @job do |f| %>
		  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		    <%= form.input :title, label: "Job title" %>
  			<%= form.input :country_code %>
		  </div>
		<% end %>
	</div>
</div>