.edit {
	font-family: $font-family;
}

.edit-navigation {

	margin-top: 50px;

	h2 {
		margin: 0px 0px 20px 0px;
		border-bottom: 1px dotted $secondary-color !important;
		cursor: pointer;
		font-weight: 900;

		&:hover {
			color: $primary-color;
			border-bottom: 2px solid $primary-color !important;
		}

	} 
}

.edit-container {
	margin: 50px 0px;
	border: 1px dotted $secondary-color;
	border-radius: 5px;
	padding: 20px;
}

.edit-collapse-hidden-start {
	display: none;

	h3 {
		margin-top: 0px;
	}
}