$primary-color: #FE9000;
$secondary-color: #666666;
$third-color: #FFCC33;

.navbar {
	border-radius: 0px !important;
	margin-bottom: 0px !important;
	background-color: white !important;
	border: 0px !important;

}

.btn {

}

.home-hero {
/*	@include align-items(center);
  	@include display(flex);
  	@include flex-direction(center);
  	@include justify-content(center);*/
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	align-content: center;
  	text-align: center;
  	background: lighten($secondary-color, 30%);
}

.home-hero-content {
/*	@include flex(1);*/
	padding: 30px;
}

/* ############################################## */


.home-checklist {
	text-align: center;
}

.home-checklist-content {
	width: 30%;
	padding: 40px 10px;
	background-color: tint($third-color, 10%);
}

/* ############################################## */

.home-newsletter {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	align-content: center;
  	text-align: center;
  	background: $primary-color;
  	padding: 30px;
}

/* ############################################## */

.home-countries-container {
	padding: 30px 10px 70px 10px;
}

.home-countries-content {
	text-align: center;
}

.home-countries-content	h1 {
	padding: 60px;
	margin: 0px;
	font-size: 50px;
}

.home-countries-images {
	text-align: center;
}

.home-img {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	align-content: center;
  	text-align: center;
  	color: #FFFFFF;
  	background-size: cover;
	height: 160px;
	font-size: 40px;
	left: 50%;
	font-weight: 500;
}

#home-img-korea {
	background-image: image-url('s-korea.png');
}

#home-img-china {
	background-image: image-url('china.png');
}

#home-img-vietnam {
	background-image: image-url('vietnam.png');
}

#home-img-mexico {
	background-image: image-url('mexico.png');
}

#home-img-czech {
	background-image: image-url('czech.png');
}

#home-img-taiwan {
	background-image: image-url('taiwan.png');
}

/* ############################################## */

.carousel-container {
	text-align: center;
	background-color: $third-color;
	padding-top: 50px;
	padding-bottom: 15px;
}

.carousel-container h3 {
	margin: 0px;
	margin-bottom: 15px;
}

.carousel-indicators-container {
	display: flex !important;
  	justify-content: center !important;
  	align-items: center !important;
  	align-content: center !important;
  	text-align: center !important;
  	background-color: $third-color;
  	padding-bottom: 30px;
}

.carousel-indicators {
	margin: 0 !important;
	position: static !important;
}

.carousel-content {
	display: flex !important;
  	justify-content: center !important;
  	align-items: center !important;
  	align-content: center !important;
  	text-align: center !important;
}


/* ############################################## */
