/* #################################### */

.jobs-hero {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	align-content: center;
  	text-align: center;
  	background-image: image-url('job-search-banner.png'); 
}

.jobs-hero-content {
	padding: 30px;

		h1 {
			font-family: $font-family;
			font-weight: 900;
			font-size: 120px;
		}
}

/* #################################### */

.jobs-search-bar {
	display: flex !important;
  	justify-content: center !important;
  	align-items: center !important;
  	align-content: center !important;
  	font-family: $font-family;
  	text-align: center;

	.jobs-search-bar-container {
		margin: 25px;
	}

	.search-bar-label {
		margin: 0px !important;
	}

	.search-bar-field {
		width: 300px !important;
		margin: 10px !important;
	}
}

/* #################################### */


.jobs-list-container {
	border-top: 3px groove lighten($secondary-color, 20%);
	border-right: 2px groove lighten($secondary-color, 20%);
	border-left: 1px groove lighten($secondary-color, 20%);
	border-bottom: 1px groove lighten($secondary-color, 20%);
	padding: 30px 30px 30px 50px !important;
	font-family: $font-family;

	#job-title-link {
		color: $primary-color;
		font-weight: 900;
		font-size: 25px;
	}

	h3 {
		font-size: 18px;
		margin-top: 10px;
	}

	h4 {
		font-size: 15px;
		margin: 0px;
	}

	&:hover {
		background-color: lighten($third-color, 30%);
	}

	.jobs-list-header {
		cursor: pointer;
	}

}


.jobs-list-body {
	display: none;
	padding-top: 20px;
}

.jobs-list-block {
	border-bottom: 1px dotted lighten($secondary-color, 45%);
}

.jobs-list-title {
	h3 {
		font-size: 18px;
		font-family: $font-family;
		font-weight: 900;
		color: $primary-color;

		p {
			color: black;
			font-weight: 400;
			font-size: 15px;
		}
	}
}

.jobs-benefits-icons {
	padding-right: 10px;
	font-size: 15px;
	font-family: $font-family;
}

/* #################################### */


.jobs-pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; 
  margin: 25px;
}

.jobs-pagination a, .jobs-pagination span, .jobs-pagination em {
    padding: 0.2em 0.5em; 
}

.jobs-pagination .disabled {
    color: $secondary-color; 
}

.jobs-pagination .current {
    font-style: normal;
    font-weight: bold;
    color: $primary-color; 
}

.jobs-pagination a {
    border: 1px solid $third-color;
    color: $primary-color;
    text-decoration: none; 
}

.jobs-pagination a:hover, .jobs-pagination a:focus {
      border-color: $third-color;
      background: $primary-color;
      color: white; 
}
  
.jobs-pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
}

.jobs-pagination .previous_page, .jobs-pagination .next_page {
    border-width: 2px;
}

.jobs-pagination .previous_page {
    margin-right: 1em;
}

  .jobs-pagination .next_page {
    margin-left: 1em;
}