.jobs-list {
	padding: 30px;
}

.jobs-list-container {
	cursor: pointer;
	border-top: 3px groove lighten($secondary-color, 20%);
	border-right: 2px groove lighten($secondary-color, 20%);
	border-left: 1px groove lighten($secondary-color, 20%);
	border-bottom: 1px groove lighten($secondary-color, 20%);
	padding: 30px 30px 30px 50px !important;
	font-family: $font-family;

	#job-title-link {
		color: $primary-color;
		font-weight: 900;
		font-size: 25px;
	}

	h3 {
		font-size: 18px;
		margin-top: 10px;
	}

	h4 {
		font-size: 15px;
		margin: 0px;
	}

	&:hover {
		background-color: lighten($secondary-color, 55%);
	}

}

.jobs-list-body {
	display: none;
	padding-top: 20px;
}

.jobs-list-block {
	border-bottom: 1px dotted lighten($secondary-color, 45%);
}

.jobs-list-title {
	h3 {
		font-size: 18px;
		font-family: $font-family;
		font-weight: 900;
		color: $primary-color;

		p {
			color: black;
			font-weight: 400;
			font-size: 15px;
		}
	}
}

.jobs-benefits-icons {
	padding-right: 10px;
	font-size: 15px;
	font-family: $font-family;
}