.login {
	display: flex !important;
  	justify-content: center !important;
  	align-items: center !important;
  	align-content: center !important;
  	font-family: $font-family;
  	padding: 50px;
  	background-color: $third-color;
}

.login-container {
	padding: 60px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #FFFFFF;
	width: 450px;

		h2 {
			font-weight: 900;
		}
}

.login-header {
	h4 {
		color: $primary-color;
		font-weight: 900;
	}
}

#jobs-special {
	color: red;
}

#edit-container {
	width: 100%;
}

.login-form {
	margin: 10px 0px;
}

.btn-login {
	margin: 10px 0px !important;
}

.job-post-textarea {
	height: 150px !important;
	resize: none;
}

.control-label {
	font-family: $font-family;
	margin-top: 10px;
}

.login-collapse {
	cursor: pointer;
}

.login-collapse-hidden {
	display: none;
}

/* ##################################### */

.jobs-payment-info {
	margin-top: 20px;
}

.jobs-payment-info-imgs {
	text-align: center;

	i {
		font-size: 35px;
	}
}

.jobs-payment-img {
	background-image: image-url('secure-checkout.png');
	background-repeat: no-repeat;
	background-position: center; 
	height: 255px;
}