.login {
	display: flex !important;
  	justify-content: center !important;
  	align-items: center !important;
  	align-content: center !important;
  	font-family: $font-family;
  	padding: 80px;
  	background-color: $third-color;
}

.login-container {
	padding: 80px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #FFFFFF;
}

.login-form {
	margin: 10px 0px;
}

.btn-login {
	margin: 10px 0px !important;
}

.job-post-textarea {
	height: 150px !important;
	resize: none;
}

.control-label {
	font-family: $font-family;
	margin-top: 10px;
}