.show-company {
  	font-family: $font-family;
}

.show-company-header-container {
  	padding: 40px 40px !important;
  	border-bottom: 5px solid #000000;
  	background-color: $third-color;
  	color: #000000;
  	text-align: center;

  	h1 {
  		font-size: 55px;
  		font-weight: 900;
  	}

  	i {
  		font-size: 25px;
  		color: #000000; 

  		&:hover {
  			color: $primary-color;
  			font-size: 30px;
  		}
  	}

  	p {
  		margin: 10px;
  	}
}

.show-company-textarea {
	height: 150px !important;
	resize: none;
}

.show-company-qa-container {
	padding: 50px 40px !important;
}

.show-company-qa-sign {
	text-align: center;

	h1 {
		font-weight: 900;
		margin: 0;
	}
}

.show-company-qa {
	h2 {
		font-weight: 900;
	}
}

#qa-header {
	font-size: 65px;
	margin-bottom: 30px;
}